* {
  margin: 0;
  padding: 0;
  background: #1F1F1F;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.6;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
  /* border: 2px solid goldenrod; */
}

#showcase {
  height: 300px;
  /* border: 2px solid red; */
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation-name: heading;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes heading {
  0% {top: 0px;}
  100% {top: 200px;}
  /* 0% {background-color: #fff; left: 0px; top: 0px; border-radius: 0 0 0 0;}
  25% {background-color: red; left: 300px; top: 0px; border-radius: 50% 0 0 0;}
  50% {background-color: green; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
  75% {background-color: blue; left: 0px; top: 300px; border-radius: 50% 50% 50% 0;}
  100% {background-color: #fff; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%;} */
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes content {
  0% {left: -960px;}
  100% {left: 0;}
}

.btn {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding: 1rem 2rem;
  border: #FFF 1px solid;
  margin-top: 40px;
  opacity: 0;
  animation: btn;
  animation-duration: 3s;
  /* this way the item fades in after the text and header arrive */
  animation-delay: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

.btn:hover {
  transform: rotateY(180deg) scale(1.5);
}

@keyframes btn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}